In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('fast')

## Dropped rows:
> • Precipitation(in) (1998358)<br>• End_Lat (2246264)<br>• End_Lng (2246264)<br>• Number (1917605)<br>• Wind_Chill(F) (1852623)<br>• Airport_Code (5691)<br>• Pressure(in) (48142)<br>• Wind_Direction (45101)<br>• Timezone (3163)

In [2]:
df = pd.read_csv('data/1_accidents_initial.csv')

In [3]:
df.head()

,Unnamed: 0,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

## Dropping null values

In [5]:
df.Civil_Twilight.value_counts()

Day      2342592
Night     631650
Name: Civil_Twilight, dtype: int64

### Testing <code>df.ffill()</code>

In [6]:
test_na = df.Civil_Twilight.to_frame()

In [7]:
test_na.isna().sum()

Civil_Twilight    93
dtype: int64

In [8]:
test_na.ffill(axis=0, inplace=True)

In [9]:
test_na.isna().sum()

Civil_Twilight    0
dtype: int64

### Applying <code>ffill()</code>

In [13]:
df.Civil_Twilight.value_counts()

Day      2342592
Night     631650
Name: Civil_Twilight, dtype: int64

In [14]:
df.Civil_Twilight.isna().sum()

93

In [16]:
df.Civil_Twilight.ffill(axis=0, inplace=True)

In [17]:
df.Civil_Twilight.isna().sum()

0

In [10]:
df.Nautical_Twilight.value_counts()

Day      2492085
Night     482157
Name: Nautical_Twilight, dtype: int64

In [18]:
df.Nautical_Twilight.ffill(axis=0, inplace=True)

In [19]:
df.Nautical_Twilight.isna().sum()

0

In [21]:
df.Astronomical_Twilight.ffill(axis=0, inplace=True)

In [22]:
df.Astronomical_Twilight.isna().sum()

0

In [23]:
df.Astronomical_Twilight.value_counts()

Day      2604081
Night     370254
Name: Astronomical_Twilight, dtype: int64

In [24]:
df.Sunrise_Sunset.isna().sum()

93

In [25]:
df.Sunrise_Sunset.ffill(axis=0, inplace=True)

In [26]:
df.Sunrise_Sunset.isna().sum()

0

In [28]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [35]:
# Heatmap values
df.State.value_counts()

CA    663204
TX    298062
FL    223746
SC    146689
NC    142460
NY    137799
PA     90395
MI     88694
IL     86390
GA     83620
VA     79957
OR     70840
MN     62727
AZ     62330
WA     61367
TN     58289
OH     55863
LA     52481
OK     51297
NJ     49942
MD     43328
UT     41385
CO     40124
AL     36369
MA     33014
IN     30040
MO     29012
CT     22803
NE     22505
KY     19122
WI     17580
RI     10483
IA     10346
NV      9524
NH      7064
KS      6887
MS      5961
NM      5020
DE      4434
DC      3653
WV      2274
ME      2065
ID      1757
AR      1749
VT       585
MT       504
WY       492
SD        60
ND        43
Name: State, dtype: int64

In [39]:
df.City.ffill(axis=0, inplace=True)

In [40]:
df.City.isna().sum()

0

In [41]:
df.City.value_counts()

Houston                93289
Charlotte              68055
Los Angeles            65852
Austin                 58703
Dallas                 58036
                       ...
Spring Green               1
La Grange Highlands        1
Harbeson                   1
Big Sky                    1
Saint Landry               1
Name: City, Length: 11685, dtype: int64

In [46]:
# Zipcode Nulls = 880
df['Zipcode'] = df.Zipcode.ffill().bfill()

In [50]:
df.Zipcode.value_counts()

91706         4646
91761         4079
91765         3651
90703         3536
90248         3430
              ...
53404            1
29511-3649       1
56308-3435       1
92705-8607       1
73102-6406       1
Name: Zipcode, Length: 377152, dtype: int64

In [67]:
# Casting Zipcodes as strings
# Removing em dashes
# Casing Zipcodes as int
# test = df.Zipcode.to_frame()
# test.Zipcode = test.Zipcode.str[:5]
df.Zipcode = df.Zipcode.astype(str)
df.Zipcode = df.Zipcode.str[:5]
df.Zipcode = df.Zipcode.astype(int)

In [71]:
df.Zipcode.isna().sum()

0

In [73]:
df.drop('Airport_Code', 1, inplace=True)

In [85]:
df.Weather_Timestamp.ffill(axis=0, inplace=True)

In [86]:
df.Weather_Timestamp.isna().sum()

0

In [88]:
df.rename(columns={'Temperature(F)': 'Temperature'}, inplace=True)

In [92]:
df.Temperature.describe()

count    2.918272e+06
mean     6.235120e+01
std      1.878855e+01
min     -7.780000e+01
25%      5.000000e+01
50%      6.440000e+01
75%      7.600000e+01
max      1.706000e+02
Name: Temperature, dtype: float64

## Temperature set at <= 135
> This leaves the dataframe chopped off at 135 deg F

In [129]:
new_df = df[df['Temperature'] <= 135]

In [130]:
new_df.Temperature.isna().sum()

0

In [132]:
new_df["Humidity(%)"].isna().sum()

3110

In [134]:
new_df.rename(columns={'Humidity(%)': 'Humidity_pct'}, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [135]:
new_df.Humidity_pct.isna().sum()

3110

In [137]:
new_df.Humidity_pct.ffill(axis=0, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [139]:
new_df.Humidity_pct.isna().sum()

0

In [140]:
new_df.drop("Pressure(in)", 1, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [141]:
new_df.drop("Wind_Direction", 1, inplace=True)

In [148]:
new_df.drop('Timezone', 1, inplace=True)

In [153]:
new_df['Visibility(mi)'].isna().sum()

19267

In [154]:
mean_visibility = new_df['Visibility(mi)'].mean()

In [155]:
new_df['Visibility(mi)'].fillna(mean_visibility, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [156]:
new_df.rename(columns={"Visibility(mi)": 'Visibility_mi'}, inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [157]:
new_df.Visibility_mi.isna().sum()

0

## Changing DataFrame name

In [158]:
acc = new_df.copy()

In [168]:
acc.Weather_Condition.value_counts().to_frame().sample(60)

                                     Weather_Condition
Light Rain Showers                                 156
Light Thunderstorms and Rain                      4922
Wintry Mix / Windy                                  20
Heavy Blowing Snow                                   4
Heavy Snow with Thunder                              6
Blowing Dust / Windy                                64
Fair                                            333852
Heavy Thunderstorms and Rain                      2475
Drizzle / Windy                                      4
Ice Pellets                                        101
Light Snow Shower                                    1
Haze / Windy                                        66
Cloudy                                          115091
Squalls                                             26
Light Freezing Fog                                 998
Light Freezing Drizzle                             798
Sleet                                                3
Hail                                                 2
Freezing Rain                                       17
Widespread Dust                                    129
Heavy Rain Showers                                   7
Heavy Freezing Rain                                  2
Light Rain with Thunder                           1931
Thunder and Hail / Windy                             1
Sand / Dust Whirlwinds                              27
Light Snow Showers                                  24
Light Freezing Rain / Windy                          6
Partial Fog / Windy                                  1
Small Hail                                          30
Blowing Sand                                         1
Heavy Ice Pellets                                    4
Blowing Snow                                       268
Light Sleet                                          3
Light Snow                                       42097
Heavy Drizzle                                      257
Light Thunderstorm                                   3
Overcast                                        381396
Light Thunderstorms and Snow                        22
Shallow Fog                                       1134
Rain Showers                                       123
Light Rain / Windy                                1040
Sand / Dust Whirlwinds / Windy                       2
Heavy Rain / Windy                                 157
Heavy Thunderstorms with Small Hail                  7
Funnel Cloud                                        19
Snow / Windy                                        46
Light Rain Shower / Windy                            1
Light Drizzle                                    10257
Haze                                             34001
Thunder                                           1652
N/A Precipitation                                  190
Snow Showers                                         2
Smoke / Windy                                        7
Heavy T-Storm                                     1263
Heavy Sleet                                          6
Dust Whirls                                          1
Snow and Sleet                                       9
Patches of Fog                                    2385
Thunder / Wintry Mix / Windy                         1
Light Haze                                          10

In [162]:
acc.shape

(2918262, 39)

In [172]:
acc["Wind_Speed(mph)"].describe()

count    2.525929e+06
mean     8.300205e+00
std      5.138525e+00
min      0.000000e+00
25%      4.600000e+00
50%      7.000000e+00
75%      1.040000e+01
max      8.228000e+02
Name: Wind_Speed(mph), dtype: float64

In [173]:
acc['Wind_Speed(mph)'].isna().sum()

392333

In [ ]:
# ffill() because wind speeds vary greatly across the U.S.
acc.rename(columns={'Wind_Speed(mph)': 'Windspeed_mph'}, inplace=True)

In [186]:
acc.Windspeed_mph.ffill(axis=0, inplace=True)

In [189]:
acc.Windspeed_mph.bfill(axis=0, inplace=True)

In [190]:
acc.Windspeed_mph.isna().sum()

0